.order {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order__title {
    display: flex;
    justify-content: space-between;
}

.order__item {
    margin-right: 20px;
    margin-top: 10px;
}

.order__total {
    text-align: right;
}

